<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miniandroid.tictactoedeluxe"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="26" />
    <application
        android:label="TicTacToe Deluxe"
        android:theme="@style/GameTheme">
        <activity android:name=".MainActivity"
            android:label="TicTacToe Deluxe"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
